<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Détails du lot</title>
	<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>

<body>
	<header th:replace="~{fragments.html::header-fragment-bs}"></header>

	<div class="container" style="min-height: calc(100vh - 240px);position: relative;">
		<div class="row">
			<div class="col">
				<div class="container mb-4 mt-4">
					<div id="carouselExample" class="carousel slide">
						<div class="carousel-inner rounded">
							<div style="text-align: center;" th:each="image, iter : ${lot.getImagesPath()}"
								th:class="${iter.index == 0} ? 'carousel-item active' : 'carousel-item'">
								<img th:src="@{../../../../upload-dir/{img}(img=${image.getLien()})}"
									style="max-height: 600px;max-width: 1000px;">
							</div>
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
							data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
							data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>

					<div class="container mt-4 border rounded shadow" th:if="${lot != null}">
						<h1 th:text="${lot.titre}">Lot</h1>
						<div class="row border-bottom mb-4 pb-2">
							<div class="col">
								<ul class="nav nav-pills nav-fill">
									<li class="nav-item">
										<button class="nav-link switch-btn active" href="#">Informations</button>
									</li>
									<li class="nav-item">
										<button class="nav-link switch-btn" href="#">Description</button>
									</li>
									<li class="nav-item">
										<button class="nav-link switch-btn" href="#">Caractéristiques</button>
									</li>
								</ul>
							</div>
						</div>
						<div class="row" id="contentDetail">
							<div class="content-switch">
								<p th:if="${lot.etat}">État : <span th:text="${lot.etat}"></span></p>
								<!--<p>Date de création: <span
										th:text="${#dates.format(lot.getDateCreation(), 'dd/MM/yyyy')}"></span>
								</p>
								<p>Date de fin: <span th:text="${#dates.format(lot.getDateFin(), 'dd/MM/yyyy')}"></span>-->
								</p>
								<p>Disponibilité : <span
										th:text="${lot.isDisponibilite()} ? 'Disponible' : 'Non disponible'"></span>
							</div>
							<div class="content-switch" style="display: none;">
								<p th:text="${lot.description}"></p>
							</div>
							<div class="content-switch" style="display: none;">
								<p>Matière: <span th:text="${lot.getMatiere()}"></span></p>
							</div>
						</div>
					</div>
					</p>
				</div>
			</div>
			<div class="col col-lg-3">
				<div class="container mb-4 mt-4 rounded">
					<div class="card">
						<img th:if="${lot.getVendeur().getProfilPicture() != null && lot.getVendeur().getProfilPicture() != ''}"
							th:src="@{../../../../upload-dir/{img}(img=${lot.getVendeur().getProfilPicture()})}" />
						<img th:unless="${lot.getVendeur().getProfilPicture() != null && lot.getVendeur().getProfilPicture() != ''}"
							th:src="@{/img/avatar-de-lutilisateur.png}"
							class="card-img-top" alt="PAS DE PHOTO DE PROFIL">
						<div class="card-body">
							<h5 class="card-title" th:text="${lot.getVendeur().getUsername()}">Vendeur</h5>
							<p class="card-text"
								th:text="|Le vendeur ${lot.getVendeur().getFirstName()} ${lot.getVendeur().getLastName()} est inscrit depuis le ${#temporals.format(lot.getVendeur().getDateInscription(), 'dd/MM/yyyy')}|">
							</p>
							<a th:href="@{/profil/{username}(username=${lot.getVendeur().getUsername()})}" href="#"
								class="btn btn-primary">Profil</a>
						</div>
					</div>
				</div>
				<div class="container mb-4 mt-4 bg-gradient rounded">
					<div th:attr="data-date=${#temporals.format(lot.getDateFin(), 'yyyy-MM-dd HH:mm:ss')}"
						th:class="|card align-items-center justify-content-center ${lot.isDisponibilite() ? 'card-timer' : ''} |">
						<span th:if="${lot.isDisponibilite()}" class="text-uppercase"
							th:text="|lot publié le ${#temporals.format(lot.getDateCreation(), 'dd/MM/yyyy')} à ${#temporals.format(lot.getDateCreation(), 'HH')}h${#temporals.format(lot.getDateCreation(), 'mm')}|">Lot
							publié le 20/09/2023 à 13h50</span>
						<div th:if="${lot.isDisponibilite()}"
							class="card-body fs-2 fw-semibold font-monospace text-uppercase text-black diff">
						</div>

						<div th:unless="${lot.isDisponibilite()}" style="width: 100%;height: 100%;margin: 0;"
							class="alert fs-6 alert-danger text-center" role="alert">
							CE LOT N'EST PLUS DISPONIBLE
						</div>

					</div>
					<div class="d-grid gap 2 mt-4">
						<div class="card align-items-center justify-content-center flex-column">
							<span class="text-uppercase font-monospace text-black">Prix de départ</span><br>
							<div class="card-body text-center"> 
								<span class="text-danger fw-semibold font-monospace fs-2" th:text="${lot.prixDepart + '€'}"></span>
							</div>
						</div>
					</div>
					<ol th:if="${lot.getEncheres() != null && #lists.size(lot.getEncheres()) > 0}" class="list-group mt-4 overflow-y-scroll" style="height: 150px;">
						<li th:each="enchere : ${lot.getEncheres()}"
							class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto">
								<div class="fw-bold" th:text="${enchere.getAcheteur().getUsername()}"></div>
								<span
									th:text="${#temporals.format(enchere.getDateCreation(), 'dd/MM/yyyy HH:mm')}"></span>
							</div>
							<span class="badge bg-primary rounded-pill"
								th:text="${#numbers.formatDecimal(enchere.getMontant(), 1, 'DEFAULT', 2, 'DEFAULT')}">0</span>
						</li>
					</ol>
					<div th:if="${lot.isDisponibilite()}" class="d-grid gap-2 mt-4">

						<div class="card align-items-center justify-content-center flex-column">
							<span class="text-uppercase font-monospace text-black">Enchérir</span>
							<div class="card-body text-center">
								<div th:if="${monCompte == null}" class="d-flex justify-content-evenly mt-2">
									<a th:href="@{/signin(redirect='lots/detail/' + ${lot.getId()})}"
										class="btn btn-primary">Connexion</a>
								</div>
								<form id="enchere-form" th:action="@{/lots/{id}/encherir(id=${lot.getId()})}"
									method="POST" class="text-center"
									th:if="${monCompte != null && lot.isDisponibilite()}">
									<div
										th:if="${((#lists.size(lot.getEncheres()) > 0 && monCompte.getSolde() > lot.getEncheres()[0].getMontant()) || (#lists.size(lot.getEncheres()) < 1 && monCompte.getSolde() > 0))}">
										<label for="montant">Rentrez une somme</label>
										<input type="number" name="montant"
											th:attr="value=${lot.getMaxEnchere()}" />
										<p
											th:text="'Votre solde est de ' + ${#numbers.formatDecimal(monCompte.getSolde(), 1, 'DEFAULT', 2, 'DEFAULT') + '€'}">
										</p>

										<input type="hidden" name="lotId" th:attr="value=${lot.getId()}" />
										<input type="submit" class="btn btn-success" value="Encherir !" />
									</div>

									<span
										th:unless="${((#lists.size(lot.getEncheres()) > 0 && monCompte.getSolde() > lot.getEncheres()[0].getMontant()) || (#lists.size(lot.getEncheres()) < 1 && monCompte.getSolde() > 0))}">
										Vous n'avez pas assez de fonds pour enchérir
									</span>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="~{fragments.html :: footer-fragment}"></footer>
	<script th:replace="~{fragments.html :: script-fragment-bs}"></script>
	<script th:src="@{/js/lot.js}"></script>
	<script th:src="@{/js/util.js}"></script>
</body>

</html>