<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Erreur</title>
<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>
<body>
	<header th:insert="~{fragments.html :: header-fragment-bs}"></header>
	<div class="container d-flex align-items-center justify-content-center mb-4 mt-4" style="min-height: calc(100vh - 240px);position: relative;">
            <div class="text-center">
                <h1 class="display-1 fw-bold" th:text="${code}">404</h1>
                <p class="fs-3"> <span class="text-danger">Oups!</span> <span th:text="${msgErr}"></span></p>
            </div>
        </div>
	<footer th:replace="fragments.html :: footer-fragment"></footer>
	<script th:replace="fragments.html :: script-fragment-bs"></script>
</body>
</html>