<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link th:fragment="link-fragment-bs" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
		rel="stylesheet">
</head>

<body>
	<nav th:fragment="header-fragment-bs" class="navbar navbar-expand-xxl navbar-dark bg-dark">
		<div class="container">
			<a class="navbar-brand" href="/">Enchères du Printemps</a>
			<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar"
				aria-expanded="false">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/lots}">Lots</a>
					</li>
				</ul>
				<div class="d-flex">
					<input class="form-control rounded-pill" type="text" placeholder="Recherche...">
					<div class="dropdown ms-2">
						<div class="dropdown ms-2">
							<button role="button" data-bs-toggle="dropdown" aria-expanded="false"
								style="background: none;" class="btn btn-primary dropdown-toggle rounded-pill">
								<svg class="bi pe-none me-2" xmlns="http://www.w3.org/2000/svg" height="1em"
									viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<path
										d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z">
									</path>
								</svg>
							</button>
							<ul th:if="${monCompte != null}" class="dropdown-menu">
								<li><a class="dropdown-item" th:href="@{/profil/me}">Gestion</a></li>
								<li><a class="dropdown-item bg-primary text-white" th:href="@{/lots/add}">Créer un
										lot</a></li>
								<li>
									<form method="post" th:action="@{/logout}"><button class="dropdown-item"
											type="submit">Déconnexion</button></form>
								</li>
							</ul>
							<ul th:unless="${monCompte != null}" class="dropdown-menu">
								<li><a th:href="@{/signin}" class="dropdown-item">Connexion...</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</nav>

	<header th:fragment="header-fragment" class="container" id="headerFragment">
		<p class="text-center" th:text="|Enchères du Printemps|"></p>
		<nav>
			<a href="/">Accueil</a>
			<a href="/lots">Enchères</a>
			<a href="/signin">Mon profil</a>
		</nav>
	</header>

	<footer th:fragment="footer-fragment" style="background: #212529;" class="py-4 flex-shrink-0">
		<div class="container py-4 rounded">
			<div class="row gy-4 gx-5">
				<div class="col-lg-4 col-md-6">
					<h5 class="h1 text-white">Enchères du Printemps</h5>
					<p class="small text-white">Vous pouvez vendre et enchérir selon vos souhaits</p>

				</div>
				<div class="col-lg-2 col-md-6">
					<h5 class="text-white mb-3">Liens</h5>
					<ul class="list-unstyled text-muted">
						<li><a href="#">Accueil</a></li>
						<li><a href="#">Lots</a></li>


					</ul>
				</div>
				<div class="col-lg-2 col-md-6">
					<h5 class="text-white mb-3">Service client</h5>
					<ul class="list-unstyled text-muted">
						<li><a href="#">email@email.com</a></li>
						<li><a href="#">09.00.00.00.00</a></li>
						<li>
							<p class="text-white">73 Boulevard Michelet<br>73000 Cedex 09</p>
						</li>


					</ul>
				</div>

				<div class="col-lg-4 col-md-6">
					<h5 class="text-white mb-3">Newsletter</h5>
					<p class="small text-white mt-1">Vous souhaitez être mis au courant de nos dernières nouveautés ?
						inscrivez-vous à notre newsletter !</p>
					<form action="#">
						<div class="input-group mb-3">
							<input class="form-control" type="text" aria-describedby="button-addon2"
								placeholder="Entrez votre email" aria-label="Entrez votre email">
							<button class="btn btn-primary" id="button-addon2" type="button"><svg
									xmlns="http://www.w3.org/2000/svg" height="1em"
									viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<style>
										svg {
											fill: #ffffff
										}
									</style>
									<path
										d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z">
									</path>
								</svg></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</footer>

	<script th:fragment="script-fragment-bs"
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>