<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/lotForm.css}">
	<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>

<body>
	<header th:replace="~{fragments.html::header-fragment-bs}"></header>
	<div class="container mt-4 mb-4">
		<form th:action="@{/lots/add}" method="post" enctype="multipart/form-data">
			<label for="titre">Nom du lot : </label>
			<input type="text" name="titre">
			<label for="description"> Décrivez votre lot </label>
			<input type="text" name="description">
			<label for="prixDepart"> Donnez votre prix de départ </label>
			<input type="number" name="prixDepart">
			<label for="dateFin"> Déterminez la fin de la mise en vente (Au moins 1 journée après aujourd'hui)</label>
			<input type="datetime-local" name="dateFin" th:attr="min=${dateMin}">
			<label for="images"> Postez des images de votre lot </label>
			<input type="file" name="images" multiple>

			<input type="submit">

		</form>
	</div>
	<footer th:replace="~{fragments.html :: footer-fragment}"></footer>
	<script th:replace="~{fragments.html :: script-fragment-bs}"></script>
</body>

</html>