<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Tous les lots</title>
	<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>

<body>
	<header th:replace="~{fragments.html::header-fragment-bs}"></header>
	<div class="container mb-4 mt-4">
	<h1>Liste des lots</h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Titre</th>
			<th>Description</th>
			<th>Encherir</th>
		</tr>
		<tr th:each="lot : ${lots}">
			<td th:text="${lot.getId()}"></td>
			<td th:text="${lot.getTitre()}"></td>
			<td th:text="${lot.getDescription()}"></td>
			<td>
				<a th:href="@{/lots/detail/{id}(id=${lot.getId()})}">Détails</a>
			</td>
			<td th:if="${lot.isDisponibilite()}"><a th:href="|/lots/detail/${lot.getId()}|">Enchérir</a></td>
			<td th:unless="${lot.isDisponibilite()}">Lot Vendu</td>

		</tr>
	</table>
	</div>
	<footer th:replace="~{fragments.html :: footer-fragment}"></footer>
	<script th:replace="~{fragments.html :: script-fragment-bs}"></script>
</body>
</html>