<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Mon compte</title>
	<!-- Core theme CSS (includes Bootstrap)-->
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>

<body>

	<header th:replace="~{fragments.html::header-fragment-bs}"></header>
	<div class="container mb-4 mt-4" style="min-height: calc(100vh - 240px);position: relative;">
		<div class="row">
			<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary" style="height: 70vh;">
				<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="height: 100%;">
					<a href="/"
						class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<svg class="bi pe-none me-2" width="40" height="32">
							<use xlink:href="#bootstrap"></use>
						</svg>
						<span class="fs-4">Menu</span>
					</a>
					<hr>
					<ul class="nav nav-pills flex-column mb-auto">
						<li>
							<button href="#" class="nav-link text-white active switch-btn">
								<svg class="bi pe-none me-2" xmlns="http://www.w3.org/2000/svg" height="1em"
									viewBox="0 0 512 512"
									style="width: 16px;height: 16px;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<path
										d="M0 256a256 256 0 1 1 512 0A256 256 0 1 1 0 256zm320 96c0-26.9-16.5-49.9-40-59.3V88c0-13.3-10.7-24-24-24s-24 10.7-24 24V292.7c-23.5 9.5-40 32.5-40 59.3c0 35.3 28.7 64 64 64s64-28.7 64-64zM144 176a32 32 0 1 0 0-64 32 32 0 1 0 0 64zm-16 80a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zm288 32a32 32 0 1 0 0-64 32 32 0 1 0 0 64zM400 144a32 32 0 1 0 -64 0 32 32 0 1 0 64 0z">
									</path>
								</svg>
								Tableau de bord
							</button>
						</li>
						<li>
							<button class="nav-link text-white switch-btn">
								<svg class="bi pe-none me-2" xmlns="http://www.w3.org/2000/svg" height="1em"
									viewBox="0 0 320 512"
									style="width: 16px;height: 16px;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<path
										d="M48.1 240c-.1 2.7-.1 5.3-.1 8v16c0 2.7 0 5.3 .1 8H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H60.3C89.9 419.9 170 480 264 480h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264c-57.9 0-108.2-32.4-133.9-80H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H112.2c-.1-2.6-.2-5.3-.2-8V248c0-2.7 .1-5.4 .2-8H256c17.7 0 32-14.3 32-32s-14.3-32-32-32H130.1c25.7-47.6 76-80 133.9-80h24c17.7 0 32-14.3 32-32s-14.3-32-32-32H264C170 32 89.9 92.1 60.3 176H32c-17.7 0-32 14.3-32 32s14.3 32 32 32H48.1z" />
								</svg>
								Transactions
							</button>
						</li>
						<li>
							<button class="nav-link text-white switch-btn">
								<svg class="bi pe-none me-2" xmlns="http://www.w3.org/2000/svg" height="1em"
									viewBox="0 0 640 512"
									style="width: 16px;height: 16px;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<path
										d="M0 488V171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4V488c0 13.3-10.7 24-24 24H568c-13.3 0-24-10.7-24-24V224c0-17.7-14.3-32-32-32H128c-17.7 0-32 14.3-32 32V488c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24V432H512l0 56c0 13.3-10.7 24-24 24zM128 400V336H512v64H128zm0-96V224H512l0 80H128z" />
								</svg>
								Lots
							</button>
						</li>
						<li>
							<button class="nav-link text-white switch-btn">
								<svg class="bi pe-none me-2" style="width: 16px;height: 16px;"
									xmlns="http://www.w3.org/2000/svg" height="1em"
									viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
									<path
										d="M318.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-120 120c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l4-4L325.4 293.4l-4 4c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l120-120c12.5-12.5 12.5-32.8 0-45.3l-16-16c-12.5-12.5-32.8-12.5-45.3 0l-4 4L330.6 74.6l4-4c12.5-12.5 12.5-32.8 0-45.3l-16-16zm-152 288c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l48 48c12.5 12.5 32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-1.4-1.4L272 285.3 226.7 240 168 298.7l-1.4-1.4z" />
								</svg>
								Enchères
							</button>
						</li>
					</ul>
					<hr>
				</div>
			</div>

			<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
				<div class="content-switch">
					<h2>Tableau de bord</h2>
					<div class="row mt-4">
						<div class="col">
							<div class="container" style="height:100%;">
								<div class="card" style="/*! max-width: 540px; */height: 100%;">
									<div style="height: 100%;" class="d-flex">
										<div style="width: 7rem;" class="align-self-center ps-2">
											<img th:if="${monCompte.getProfilPicture()}"
												th:src="${monCompte.getProfilPicture()} != '' ? @{../../../../upload-dir/{img}(img=${monCompte.getProfilPicture()})} : @{/img/avatar-de-lutilisateur.png}"
												class="img-fluid rounded-start" alt="...">
											<img th:unless="${monCompte.getProfilPicture()}"
												th:src="@{/img/avatar-de-lutilisateur.png}"
												class="img-fluid rounded-start">
										</div>
										<div class="flex-fill">
											<div class="card-body">
												<h5 class="card-title" th:text="${monCompte.getUsername()}"></h5>
												<div class="d-flex flex-row justify-content-start mt-3">
													<button class="btn btn-info me-2"><span
															th:text="${#lists.size(monCompte.getEncheresEnCours())}"></span>
														<svg class="bi pe-none me-2" style="width: 16px;height: 16px;"
															xmlns="http://www.w3.org/2000/svg" height="1em"
															viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
															<path
																d="M318.6 9.4c-12.5-12.5-32.8-12.5-45.3 0l-120 120c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l4-4L325.4 293.4l-4 4c-12.5 12.5-12.5 32.8 0 45.3l16 16c12.5 12.5 32.8 12.5 45.3 0l120-120c12.5-12.5 12.5-32.8 0-45.3l-16-16c-12.5-12.5-32.8-12.5-45.3 0l-4 4L330.6 74.6l4-4c12.5-12.5 12.5-32.8 0-45.3l-16-16zm-152 288c-12.5-12.5-32.8-12.5-45.3 0l-112 112c-12.5 12.5-12.5 32.8 0 45.3l48 48c12.5 12.5 32.8 12.5 45.3 0l112-112c12.5-12.5 12.5-32.8 0-45.3l-1.4-1.4L272 285.3 226.7 240 168 298.7l-1.4-1.4z" />
														</svg>
													</button>
													<button class="btn btn-info me-2"><span
															th:text="${#lists.size(monCompte.getLotsEnCours())}"></span>
														<svg class="bi pe-none me-2" xmlns="http://www.w3.org/2000/svg"
															height="1em" viewBox="0 0 640 512"
															style="width: 16px;height: 16px;"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
															<path
																d="M0 488V171.3c0-26.2 15.9-49.7 40.2-59.4L308.1 4.8c7.6-3.1 16.1-3.1 23.8 0L599.8 111.9c24.3 9.7 40.2 33.3 40.2 59.4V488c0 13.3-10.7 24-24 24H568c-13.3 0-24-10.7-24-24V224c0-17.7-14.3-32-32-32H128c-17.7 0-32 14.3-32 32V488c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24zm488 24l-336 0c-13.3 0-24-10.7-24-24V432H512l0 56c0 13.3-10.7 24-24 24zM128 400V336H512v64H128zm0-96V224H512l0 80H128z" />
														</svg>
													</button>
												</div>
												<p th:if="${monCompte.getDateInscription()}"
													th:text="|Est inscrit depuis le ${monCompte.getDateInscription()}|"
													class="card-text"></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col col-lg-3">
							<div class="container rounded">
								<div class="card">
									<div class="card-body text-end shadow-lg">
										<h5 class="card-title fw-bold">Porte-monnaire</h5>
										<h6 class="card-subtitle mb-2 text-body-secondary">Solde disponible</h6>
										<p class="card-text fs-4"
											th:text="${#numbers.formatDecimal(monCompte.getSolde(), 1, 'DEFAULT', 2, 'DEFAULT') + ' €'}">
										</p>
									</div>
								</div>
							</div>

						</div>
					</div>
					<h3 class="mt-4">Mes informations</h3>
					<form class="mt-4" method="post" enctype="multipart/form-data" th:if="${monCompte}"
						th:object="${monCompte}" th:action="@{/profil/update}">
						<div class="row mb-2">
							<div class="col">
								<input type="text" class="form-control" th:value="${monCompte.firstName}"
									th:field="*{firstName}" id="pnom" name="pnom" tabindex="20" required="">
							</div>
							<div class="col">
								<input type="text" class="form-control" th:value="${monCompte.lastName}"
									th:field="*{lastName}" id="nom" name="nom" tabindex="30" required="">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								<input type="text" class="form-control" th:value="${monCompte.email}"
									th:field="*{email}" id="email" name="email" tabindex="40" required="">
							</div>
							<div class="col">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col">
								<label for="picture">Image de profil</label>
								<input type="file" class="form-control" accept="image/*" id="picture" name="image"
									tabindex="50">
							</div>
						</div>
						<div class="row">
							<button type="submit" class="btn btn-primary">Enregister</input>
						</div>
					</form>
				</div>
				<div class="content-switch" style="display: none;">
					<h2>Transactions</h2>
					<div class="table-responsive small"
						th:if="${monCompte.getTransactions() != null && #lists.size(monCompte.getTransactions()) > 0}">
						<table class="table table-striped table-sm">
							<thead>
								<tr>
									<th scope="col">Numéro</th>
									<th scope="col">Date</th>
									<th scope="col">Description</th>
									<th scope="col">Montant</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="t : ${monCompte.getTransactions()}">
									<td th:text="${t.Id}"></td>
									<td th:text="${#temporals.format(t.date, 'dd/MM/yyyy HH:mm')}"></td>
									<td th:text="${t.description}"></td>
									<td th:text="|${#numbers.formatDecimal(t.montant, 1, 'DEFAULT', 2, 'DEFAULT'} €|">
									</td>
								</tr>

							</tbody>
						</table>

					</div>
					<p th:unless="${monCompte.getTransactions() != null && #lists.size(monCompte.getTransactions()) > 0}"
						class="small">
						Aucune transaction à ce jour</p>
				</div>
				<div class="content-switch" style="display: none;">
					<h2>Lots</h2>
					<div th:if="${monCompte.ventes != null && #lists.size(monCompte.ventes) > 0}" class="accordion"
						id="accordionExample">
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									En cours
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<div th:each="lot : ${monCompte.getLotsEnCours()}" class="card">
										<a th:href="@{/lots/detail/{id}(id=${lot.id})}" style="text-decoration: none;">
											<div class="card-body">
												<h5 class="card-title" th:text="${lot.titre}"></h5>
												<div class="table-responsive small"
													th:if="${monCompte.ventes != null && #lists.size(monCompte.ventes) > 0}">
													<table class="table table-striped table-sm">
														<thead>
															<tr>
																<th scope="col">Date de création</th>
																<th scope="col">Date de fin</th>
																<th scope="col">Prix de départ</th>
																<th scope="col">Enchère la plus élevée</th>
															</tr>
														</thead>
														<tbody>
															<tr>
																<td
																	th:text="${#temporals.format(lot.dateCreation, 'dd/MM/yyyy HH:mm')}">
																</td>
																<td
																	th:text="${#temporals.format(lot.dateFin, 'dd/MM/yyyy HH:mm')}">
																</td>
																<td
																	th:text="${lot.getPrixDepart() != null && lot.getPrixDepart() > 0} ? ${lot.getPrixDepart()+' €'} : '0€'">
																</td>
																<td
																	th:text="${lot.getMaxEnchere() != null && lot.getMaxEnchere() > 0} ? ${lot.getMaxEnchere()+' €'} : '0€'">
																</td>
															</tr>

														</tbody>
													</table>

												</div>
											</div>
										</a>

									</div>
								</div>
							</div>
						</div>
						<div class="accordion-item">
							<h2 class="accordion-header">
								<button class="accordion-button" type="button" data-bs-toggle="collapse"
									data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
									Terminés
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse"
								data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<div th:each="lot : ${monCompte.getLotsTermines()}" class="card">
										<img th:if="${#lists.size(lot.getImagesPath()) > 0}"
											th:src="@{../../../../upload-dir/{img}(img=${lot.getImagesPath()[0].getLien()})}"
											class="card-img-top" style="height: 225px; width: 100%; display: block;"
											src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a8f57764e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a8f57764e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
											data-holder-rendered="true">
										<img th:unless="${#lists.size(lot.getImagesPath()) > 0}" class="card-img-top"
											style="height: 225px; width: 100%; display: block;"
											src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a8f57764e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a8f57764e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
											data-holder-rendered="true">
										<div class="card-body">
											<h5 class="card-title">Card title</h5>
											<p class="card-text"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<p th:unless="${monCompte.ventes != null && #lists.size(monCompte.ventes) > 0}" class="small">Vous
						n'avez pas créer un seul lot</p>
				</div>
				<div class="content-switch" style="display: none;">
					<h2>Enchères</h2>
					<div class="table-responsive small">
					</div>
				</div>
			</main>
		</div>
	</div>
	<footer th:replace="~{fragments.html :: footer-fragment}"></footer>
	<script th:replace="~{fragments.html :: script-fragment-bs}"></script>
	<script th:src="@{/js/util.js}"></script>
</body>

</html>