<!DOCTYPE html>
<html xlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Site d'enchère - Accueil</title>
	<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>
<!--<link rel="stylesheet" th:href="@{/css/header.css}">-->

<body style="height: 100vh;">

	<header th:replace="~{fragments.html :: header-fragment-bs}"></header>
	<div class="container mb-4 mt-4" style="min-height: calc(100vh - 240px);position: relative;">
		<h1 class="text-center mb-5">Lots du moment !</h1>
		<div class="row">
			<div class="col-md-4" th:each="lot : ${lots}">
				<div class="card mb-4 box-shadow">
					<!--src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a8f57764e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a8f57764e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" -->
					<img th:if="${#lists.size(lot.getImagesPath()) > 0}"
						th:src="@{../../../../upload-dir/{img}(img=${lot.getImagesPath()[0].getLien()})}"
						class="card-img-top" style="height: 225px; width: 100%; display: block;"
						src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a8f57764e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a8f57764e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
						data-holder-rendered="true">
					<img th:unless="${#lists.size(lot.getImagesPath()) > 0}" class="card-img-top"
						style="height: 225px; width: 100%; display: block;"
						src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22348%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20348%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18a8f57764e%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A17pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18a8f57764e%22%3E%3Crect%20width%3D%22348%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22116.70000076293945%22%20y%3D%22120.3%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
						data-holder-rendered="true">
					<div class="card-img-overlay" th:if="!${lot.isDisponibilite()}">
						<div class="alert alert-danger text-center" role="alert">
							Lot expiré !
						</div>
					</div>
					<div class="card-body">
						<p class="card-text fw-bold" th:text="${lot.titre}"></p>
						<p class="card-text" th:text="${#strings.abbreviate(lot.description,100)}">N/A</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a class="btn btn-sm btn-outline-secondary"
									th:href="@{/lots/detail/{id}(id=${lot.id})}">Détails</a>
								<a type="button" class="btn btn-sm btn-outline-secondary"
									th:if="${lot.isDisponibilite()}">Enchérir</a>
							</div>
							<small class="diff text-muted"
								th:attr="data-date=${#temporals.format(lot.getDateFin(), 'yyyy-MM-dd HH:mm:ss')}"
								th:if="${lot.getDateFin() != null && lot.isDisponibilite()}"></span>
							</small>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:text="${msg}"></div>
	</div>
	<footer th:replace="~{fragments.html :: footer-fragment}"></footer>
	<script th:replace="~{fragments.html :: script-fragment-bs}"></script>
	<script th:src="@{/js/timer.js}"></script>
</body>

</html>