<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Profil</title>
	<link th:insert="~{fragments.html :: link-fragment-bs}">
</head>

<body>
	<header th:replace="~{fragments.html :: header-fragment-bs}"></header>
	<p th:text="${msg}"></p>
	<footer th:replace="~{fragments.html :: footer-fragment}"></footer>
	<script th:replace="~{fragments.html :: script-fragment-bs}"></script>
</body>

</html>